body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type:none;
  margin-left: -20px;
}

.order {
  padding: 20px;
  margin-bottom: 15px;
  background-color:#dfe6e9;
  border-radius: 15px;
}

.done {
  background-color: #9fffbc;
}

.confirmed {
  background-color: rgb(145, 195, 252);
}

.number {
  display: -webkit-inline-box;
  color: white;
  border-radius: 5px;
  background-color: #2ecc71;
  width: auto;
  height: 50px;
  padding: 0px 12px;
}

.confirm {
  margin-bottom: 0em;
}

#forma {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  margin-right: 10px;
}

.form-control {
  margin-bottom: 10px;
}

#mygtukas {
  margin-right: 10px;
}

.mygtukai {
  display: -webkit-inline-box;
}

.phone {
  margin-right: 10px;
}

.unhide {
  cursor: pointer;
}

#clone {
  margin-right: 20px;
  margin-bottom: 20px;
}

.finalOrder {
  margin-top: 20px;
}
.info {
  display: -webkit-inline-box;
}

.navbar {
  margin-bottom: 20px;
}

.logo {
  width: auto;
  height: 35px;
}

.createBtn {
  width: 220px;
  height: 245px;
  margin-top: 20px;
  margin-right: 20px;
  padding-top: 90px;
}
