<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>
	<div class="jumbotron">
	<h1><%= title %></h1>
	<hr>
	<h1><%= detail.items[0].name %></h1>
	<a class='btn btn-success' href='/'>Atgal</a>
	</div>
		
</body>
</html>