<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>
<div class="container">
    <div>
        <h1>Naudotojo profilis: <%= currentUser.username %></h1>
    </div>
    <div class="admin">
            <ul>
                <% allUsers.forEach(function(user) { %>
                <h1><%=user.username %></h1>
                    <% for (var i=0; i < user.orders.length; i++) { %>
                <li>
                    <%=user.orders[i].id %>
                </li>
                <% } %>
                <% }) %>
            </ul>
    </div>
</div>
</body>
</html>